In [1]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
import pandas as pd

In [42]:
# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
train_df = pd.read_csv(r"C:\Users\jan.lade\OneDrive - Jedox AG\Documents\GitHub\titanic\train_clean.csv")
test_df = pd.read_csv(r"C:\Users\jan.lade\OneDrive - Jedox AG\Documents\GitHub\titanic\test_clean.csv")

# Column Description

### Sex: 
- female: 1 
- male: 0

### Age:
- <= 16  = 0
- Age  16 - 32 = 1
- Age 33 - 48) = 2
- Age 49 - 64) = 3
- 64 or bigger = 4

### Fare:
- <= 7.91 = 0
- 7.91 - 14.454 = 1
- 14.454 - 31 = 2
- 31 or bigger = 3

### Embarked:
- S = 0
- C = 1
- Q = 2

### Title:
- Mr: 1
- Miss: 2
- Mrs: 3
- Master: 4
- Rare: 5


### IsAlone:
- Is alone = 0
- Is not alone = 1

### Age*Class:
- Age x Pclass

In [3]:
train_df.head()

   Survived  Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class
0         0       3    0    1     0         0      1        0          3
1         1       1    1    2     3         1      3        0          2
2         1       3    1    1     1         0      2        1          3
3         1       1    1    2     3         0      3        0          2
4         0       3    0    2     1         0      1        1          6

In [9]:
test_df.head()

   PassengerId  Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class
0          892       3    0    2     0         2      1        1          6
1          893       3    1    2     0         0      3        0          6
2          894       2    0    3     1         2      1        1          6
3          895       3    0    1     1         0      1        1          3
4          896       3    1    1     1         0      3        0          3

In [33]:
# Transform the train Dataset
train_transformer = make_column_transformer(
    (OneHotEncoder(), ["Pclass", "Sex", "Age", "Fare", "Embarked", "Title", "IsAlone"]),
    remainder='passthrough')

transformed = train_transformer.fit_transform(train_df)
X_train = pd.DataFrame(transformed, columns=train_transformer.get_feature_names_out())
Y_train = X_train["remainder__Survived"]
X_train = X_train.drop("remainder__Survived", axis=1)

X_train.head()

,onehotencoder__Pclass_1,onehotencoder__Pclass_2,onehotencoder__Pclass_3,onehotencoder__Sex_0,onehotencoder__Sex_1,onehotencoder__Age_0,onehotencoder__Age_1,onehotencoder__Age_2,onehotencoder__Age_3,onehotencoder__Age_4,...,onehotencoder__Embarked_1,onehotencoder__Embarked_2,onehotencoder__Title_1,onehotencoder__Title_2,onehotencoder__Title_3,onehotencoder__Title_4,onehotencoder__Title_5,onehotencoder__IsAlone_0,onehotencoder__IsAlone_1,remainder__Age*Class
0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0
2,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0
4,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,6.0

In [39]:
#Transform the test Dataset
test_transformer = make_column_transformer(
    (OneHotEncoder(), ["Pclass", "Sex", "Age", "Fare", "Embarked", "Title", "IsAlone"]),
    remainder='passthrough')

transformed = test_transformer.fit_transform(test_df)
X_test = pd.DataFrame(transformed, columns=test_transformer.get_feature_names_out())
X_test = X_test.drop(["remainder__PassengerId"], axis=1)
X_test.head()

(418, 25)

In [41]:
#X_test  = X_test.drop("PassengerId", axis=1).copy()
X_train.shape, Y_train.shape, X_test.shape

((891, 25), (891,), (418, 25))

In [44]:
# Logistic Regression

logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
acc_log

81.48

In [45]:
# Support Vector Machines

svc = SVC()
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, Y_train) * 100, 2)
acc_svc

83.28

In [46]:
# k-Nearest Neighbors

knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn

84.85

In [47]:
# Gaussian Naive Bayes

gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, Y_train) * 100, 2)
acc_gaussian

78.11

In [48]:
# Perceptron

perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_train, Y_train) * 100, 2)
acc_perceptron

79.24

In [49]:
# Linear SVC

linear_svc = LinearSVC()
linear_svc.fit(X_train, Y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_train, Y_train) * 100, 2)
acc_linear_svc

C:\Users\jan.lade\Miniconda3\envs\titanic\lib\site-packages\sklearn\svm\_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

82.15

In [50]:
# Stochastic Gradient Descent

sgd = SGDClassifier()
sgd.fit(X_train, Y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_train, Y_train) * 100, 2)
acc_sgd

80.25

In [51]:
# Decision Tree

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
acc_decision_tree

86.64

In [52]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

86.64

In [53]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 'Linear SVC', 
              'Decision Tree'],
    'Score': [acc_svc, acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                        Model  Score
3               Random Forest  86.64
8               Decision Tree  86.64
1                         KNN  84.85
0     Support Vector Machines  83.28
7                  Linear SVC  82.15
2         Logistic Regression  81.48
6  Stochastic Gradient Decent  80.25
5                  Perceptron  79.24
4                 Naive Bayes  78.11